<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihaokeji.mapper.ConceptcodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aihaokeji.entity.Conceptcode">
        <id column="id" property="id" />
        <result column="concept_code" property="conceptCode" />
        <result column="concept_name" property="conceptName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, concept_code, concept_name
    </sql>

</mapper>
